
HELP.md
target/
.mvn/
out/
discovery-service/target/*
inventory-service/target/*
product-service/target/*
order-service/target/*
target/*
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.cmd
*.md